body {
    font-family: Arial, Helvetica, sans-serif;
}

.test-title {
    font-weight: bold;
}

.test-fail {
    margin-left: 20px;
    color: red;
}

.test-pass {
    color: green;
}

.assertion-set {
    padding: 0.5rem 2rem;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
}

.assertion-set:last-of-type {
    margin-bottom: 0;
}



p {
    padding: 0.5rem;
    border: 1px solid lightgray;
}

