<template id="list-movie-item">
    <div class="outer-container">
        <div class="inner-container">
            <a href="#" class="list-movie-item" title="Click on a movie for more information">
                <div class="poster">
                    <img src="" draggable="false" data-bind="imageUrl" alt="Movie Title" aria-label="" loading="lazy" >
                </div>
                <div class="movie-details">
                    <h3 class="title" data-bind="title">
                    </h3>
                    <h4 class="year" data-bind="year">
                    </h4>
                </div>
            </a>
        </div>
    </div>
</template>

