.outer-container {
    width: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    flex: 1 1 100%;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    color: white;
    font-size: 1.25rem;
    max-width: min(100vw, 1280px);
    padding: 1rem 0;
    align-items: center;
}

.api-key-container {
    flex: 1 1 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    font-weight: bold;
}

.is-locked label {
    opacity: 0.5;
}

input {
    margin-left: 2rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;;
}
button {
    flex: 0 0 auto;
    border-radius: 0.5rem;
    background-color: #555;
    color: white;
    border-width: 0.1rem;
    padding: 0.76rem 2rem;
    cursor: pointer;
    margin-inline: 1rem;
}

.btn-lock object {
    height: 2rem;
    width: 2rem;
    filter: invert(1);
    user-select: none;
    pointer-events: none;
}

.btn:hover {
    background-color: #666;
}
.btn:active {
    background-color: #333;
    border-style: inset;
}

button[disabled] {
    background-color: #444;
    opacity: 0.8;
    color:#888
}

button[disabled]:hover{
    background-color: #444;
}
button[disabled]:active{
    background-color: #444;
    border-style: solid;
}

.hide {
    display:none;
}

button.is-locked object{
    filter: invert(28%) sepia(49%) saturate(2589%) hue-rotate(357deg) brightness(150%) contrast(96%);
}

