<template id="app-settings">
    <div class="outer-container">
        <div class="inner-container">
            <div class="api-key-container">
                <label for="apiKey">API Key:  </label>
                <input id="apiKey" type="text" placeholder="Enter Your Api Key to Begin">
                <button class="btn btn-lock">
                    <object data="/assets/icons/unlock.svg" type="image/svg+xml"></object>
                </button>
            </div>
        </div>
    </div>
</template>