<template id="search-bar">
    <div class="outer-container">
        <div class="inner-container">
            <form action="">
                <div class="icon-container">
                    <img src="/assets/icons/popcorn-regular.svg" alt="Search Movies Icon">
                </div>
                <fieldSet>
                    <label><h3>Search Movies</h3>
                        <input type="text" placeholder="Enter a movie name" />
                    </label>
                </fieldSet>
                <button type="button" title="Clear" class="clear-btn">
                    <img src="/assets/icons/xmark-large-solid.svg" alt="Clear Icon">
                </button>
            </form>
        </div>
    </div>
</template>



